/react_native/AltruistApp/L1Stack/L2Bottom/L3MyStack/Mypage.js
/react_native/AltruistApp/L1Stack/StackNav.js
/react_native/AltruistApp/L1Stack/Login.js
/react_native/AltruistApp/L1Stack/L2Bottom/L3Stack/Main.js
/react_native/AltruistApp/L1Stack/L2Bottom/L3Toptab/MarketScreen.js
/react_native/AltruistApp/L1Stack/L2Bottom/L3Toptab/JauScreen.js
/views/findaccount/bootstrap/findaccount_change_pw.php
/application/controllers/api/Postact.php
/application/controllers/api/Board_write.php
/application/controllers/api/Board_post.php